#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=true
Name=ChangeDetection
Path=/media/experiments/AttentionMI_Green2022/launchers/
Exec=bash -i /media/experiments/AttentionMI_Green2022/launchers/run_task.sh ChangeDetection 24
