#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=true
Name=MIQ
Path=/media/experiments/launchers/
Exec=bash -i /media/experiments/launchers/run_task.sh MIQ 24
